/* style-base.css: 基本排版與全域設定 */
body {
    font-family: '微軟正黑體', 'Microsoft JhengHei', sans-serif;
    max-width: 1200px;
    margin:  auto;
    padding: 0;
    background: url('https://i.meee.com.tw/f0ChGeV.jpg') center center/cover no-repeat fixed;
    color: #f5faf9;
    min-height: 100vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
body::-webkit-scrollbar, html::-webkit-scrollbar {
    display: none;
}
.main-layout {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    box-sizing: border-box;
}
@media (max-width: 900px) {
    .main-layout { flex-direction: column; height: auto; }
}
h1 {
    color: #f8a82f; /* 你想要的顏色 */
}
